<!DOCTYPE html>
<html>
  <head>
    <title>TrackMyTrack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBjhbbi6OkY64cB5eSh2hyZ7Bj23te7FFk" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
